public/02 Push Twitter Msg to Phone.js
[{
	"id": "8e412bbe.1a3628",
	"type": "twitter in",
	"z": "fe97e4e1.d97c58",
	"twitter": "",
	"tags": "",
	"user": "false",
	"name": "Twitter in",
	"topic": "tweets",
	"inputs": 1,
	"x": 330.99998474121094,
	"y": 112,
	"wires": [["4105b276.c94d9c"]]
},
{
	"id": "4105b276.c94d9c",
	"type": "function",
	"z": "fe97e4e1.d97c58",
	"name": "Handle Text",
	"func": "var d=global.get('device');\nmsg.deviceId=d.deviceId;\nmsg.deviceType=d.deviceType;\n\nmsg.eventOrCommandType = \"text\";\nvar name=msg.tweet.user.name;\n\nvar loc=msg.tweet.user.location;\nvar tweet=msg.payload;\nvar txt = name+\" tweets \"+ \n            ((loc!==null)?\"from \"+loc:\"\") + \n            \": \" +tweet;\nreturn { payload:JSON.stringify({\"d\":{\"text\":txt}})};",
	"outputs": 1,
	"noerr": 0,
	"x": 507.99998474121094,
	"y": 116,
	"wires": [["260a298c.2f1546",
	"9392c242.1e342",
	"9a107d18.f2bfb",
	"c3d46ce6.b8ee"]]
},
{
	"id": "9392c242.1e342",
	"type": "ibmiot out",
	"z": "fe97e4e1.d97c58",
	"authentication": "boundService",
	"apiKey": "",
	"outputType": "cmd",
	"deviceId": "iPhone",
	"deviceType": "iPhone",
	"eventCommandType": "text",
	"format": "json",
	"data": "{\"d\":{\"value\":\"text\"}}",
	"qos": "",
	"name": "IoT App Out",
	"service": "registered",
	"x": 813,
	"y": 123,
	"wires": []
},
{
	"id": "260a298c.2f1546",
	"type": "debug",
	"z": "fe97e4e1.d97c58",
	"name": "",
	"active": true,
	"console": "false",
	"complete": "true",
	"x": 790.9999847412109,
	"y": 78,
	"wires": []
},
{
	"id": "31e393ea.56817c",
	"type": "inject",
	"z": "fe97e4e1.d97c58",
	"name": "Init Twitter",
	"topic": "",
	"payload": "#NodeRed",
	"payloadType": "str",
	"repeat": "",
	"crontab": "",
	"once": true,
	"x": 143,
	"y": 60,
	"wires": [["8e412bbe.1a3628"]]
},
{
	"id": "9a107d18.f2bfb",
	"type": "websocket out",
	"z": "fe97e4e1.d97c58",
	"name": "/tmelabs/tweets",
	"server": "f4b014d5.a0a668",
	"client": "",
	"x": 822.9999847412109,
	"y": 176,
	"wires": []
},
{
	"id": "1ed353a7.5b228c",
	"type": "link in",
	"z": "fe97e4e1.d97c58",
	"name": "Set Twitter Term",
	"links": ["321fc664.24d53a",
	"11cbfc55.bc93a4",
	"6500f6fe.f80048"],
	"x": 84.826416015625,
	"y": 139.59722900390625,
	"wires": [["8e412bbe.1a3628"]]
},
{
	"id": "c3d46ce6.b8ee",
	"type": "link out",
	"z": "fe97e4e1.d97c58",
	"name": "Twitter Msg to Phone",
	"links": ["652259d.05727a8"],
	"x": 761.8298797607422,
	"y": 218.53472900390625,
	"wires": []
},
{
	"id": "f4b014d5.a0a668",
	"type": "websocket-listener",
	"z": "",
	"path": "/tmelab/tweets",
	"wholemsg": "false"
}]