public/03 Dashboard - Charts.js
[{
	"id": "9976e18f.ece54",
	"type": "ui_chart",
	"z": "c2d01449.3c1b98",
	"name": "s5Mini",
	"group": "64d171b4.36002",
	"order": 2,
	"width": "6",
	"height": "6",
	"label": "s5Mini",
	"chartType": "line",
	"legend": "true",
	"xformat": "HH:mm:ss",
	"interpolate": "bezier",
	"nodata": "",
	"ymin": "",
	"ymax": "",
	"removeOlder": "15",
	"removeOlderPoints": "",
	"removeOlderUnit": "60",
	"cutout": 0,
	"x": 981.9999847412109,
	"y": 41,
	"wires": [[],
	[]]
},
{
	"id": "8ff7f6d1.07ab58",
	"type": "ibmiot in",
	"z": "c2d01449.3c1b98",
	"authentication": "boundService",
	"apiKey": "",
	"inputType": "evt",
	"deviceId": "",
	"applicationId": "",
	"deviceType": "+",
	"eventType": "+",
	"commandType": "",
	"format": "json",
	"name": "IBM IoT",
	"service": "registered",
	"allDevices": true,
	"allApplications": "",
	"allDeviceTypes": true,
	"allEvents": true,
	"allCommands": "",
	"allFormats": "",
	"qos": 0,
	"x": 55,
	"y": 79,
	"wires": [["4c90c4c1.18673c",
	"6f2a9b00.912a74"]]
},
{
	"id": "63e097ed.745188",
	"type": "switch",
	"z": "c2d01449.3c1b98",
	"name": "Device Switch",
	"property": "deviceId",
	"propertyType": "msg",
	"rules": [{
		"t": "eq",
		"v": "s5mini",
		"vt": "str"
	},
	{
		"t": "eq",
		"v": "iPhone",
		"vt": "str"
	},
	{
		"t": "eq",
		"v": "SamsungS4TSL",
		"vt": "str"
	},
	{
		"t": "eq",
		"v": "fabphone",
		"vt": "str"
	}],
	"checkall": "false",
	"outputs": 4,
	"x": 781.9999847412109,
	"y": 85,
	"wires": [["9976e18f.ece54"],
	["3dc03e8e.3eac52"],
	["c556328c.98c29"],
	["96c3cb1.165b238"]]
},
{
	"id": "3dc03e8e.3eac52",
	"type": "ui_chart",
	"z": "c2d01449.3c1b98",
	"name": "Joe's  iPhone",
	"group": "63f515be.f9d99c",
	"order": 1,
	"width": "6",
	"height": "6",
	"label": "Joe's iPhone",
	"chartType": "line",
	"legend": "true",
	"xformat": "HH:mm:ss",
	"interpolate": "bezier",
	"nodata": "",
	"ymin": "",
	"ymax": "",
	"removeOlder": "15",
	"removeOlderPoints": "",
	"removeOlderUnit": "60",
	"cutout": 0,
	"x": 987.9999847412109,
	"y": 82,
	"wires": [[],
	[]]
},
{
	"id": "a312da79.c5af18",
	"type": "function",
	"z": "c2d01449.3c1b98",
	"name": "Prepare Chart input",
	"func": "var did=msg.deviceId;\nvar sensors=global.get(\"sensors\");\nvar max=sensors[did].max;\nreturn [[\n    { payload: Math.abs(msg.payload.d.acceleration_x), topic:\"X\", deviceId:did },\n    { payload: Math.abs(msg.payload.d.acceleration_y), topic:\"Y\", deviceId:did },\n    { payload: Math.abs(msg.payload.d.acceleration_z), topic:\"Z\", deviceId:did }\n    /*\n    { payload: max.x, topic:\"maxX\", deviceId:did },\n    { payload: max.y, topic:\"maxY\", deviceId:did },\n    { payload: max.z, topic:\"maxZ\", deviceId:did }\n    */\n]];",
	"outputs": 1,
	"noerr": 0,
	"x": 585.9999847412109,
	"y": 84,
	"wires": [["63e097ed.745188",
	"97520757.382a98"]]
},
{
	"id": "1e8f6a45.5bbab6",
	"type": "ui_audio",
	"z": "c2d01449.3c1b98",
	"name": "Speakr",
	"group": "3ebef29b.78723e",
	"voice": "0",
	"x": 989,
	"y": 331,
	"wires": []
},
{
	"id": "652259d.05727a8",
	"type": "link in",
	"z": "c2d01449.3c1b98",
	"name": "TTS-In",
	"links": ["51741ba6.f53e54",
	"941cfa2d.d089c8",
	"c3d46ce6.b8ee"],
	"x": 59,
	"y": 326,
	"wires": [["20e05c3c.c88124"]]
},
{
	"id": "80cb48fa.1a4c88",
	"type": "delay",
	"z": "c2d01449.3c1b98",
	"name": "Rate Limit",
	"pauseType": "rate",
	"timeout": "5",
	"timeoutUnits": "seconds",
	"rate": "1",
	"nbRateUnits": "5",
	"rateUnits": "second",
	"randomFirst": "1",
	"randomLast": "5",
	"randomUnits": "seconds",
	"drop": true,
	"x": 412.9999542236328,
	"y": 83,
	"wires": [["a312da79.c5af18"]]
},
{
	"id": "c556328c.98c29",
	"type": "ui_chart",
	"z": "c2d01449.3c1b98",
	"name": "Samsung S4",
	"group": "64d171b4.36002",
	"order": 1,
	"width": "6",
	"height": "6",
	"label": "S4",
	"chartType": "line",
	"legend": "true",
	"xformat": "HH:mm:ss",
	"interpolate": "bezier",
	"nodata": "",
	"ymin": "",
	"ymax": "",
	"removeOlder": "15",
	"removeOlderPoints": "",
	"removeOlderUnit": "60",
	"cutout": 0,
	"x": 1012.8958587646484,
	"y": 126.88888549804688,
	"wires": [[],
	[]]
},
{
	"id": "96c3cb1.165b238",
	"type": "ui_chart",
	"z": "c2d01449.3c1b98",
	"name": "Fab's Phone",
	"group": "63f515be.f9d99c",
	"order": 1,
	"width": "6",
	"height": "6",
	"label": "Fab's Phone",
	"chartType": "line",
	"legend": "true",
	"xformat": "HH:mm:ss",
	"interpolate": "bezier",
	"nodata": "",
	"ymin": "",
	"ymax": "",
	"removeOlder": "15",
	"removeOlderPoints": "",
	"removeOlderUnit": "60",
	"cutout": 0,
	"x": 989.8957977294922,
	"y": 169.88888549804688,
	"wires": [[],
	[]]
},
{
	"id": "4c90c4c1.18673c",
	"type": "function",
	"z": "c2d01449.3c1b98",
	"name": "Store last 50 events per device",
	"func": "// simple store in context\nvar did=msg.deviceId;\nvar pl=msg.payload;\nvar isNew=false;\nvar sensors=global.get(\"sensors\");\nvar sensor;\nif (sensors === undefined || sensors===null) sensors={};\nif (sensors[did] === undefined || sensors[did] === null) {\n    sensors[did]={type:msg.deviceType, data:[], max:{x:0, y:0, z:0}};\n    isNew=true;\n}\nsensor=sensors[did];\nsensor.data.push(pl);\nsensor.data=sensor.data.slice(-50);\n\nif (sensor.max === undefined) sensor.max={x:0, y:0, z:0};\nsensor.max.x=Math.max(Math.abs(pl.d.acceleration_x));\nsensor.max.y=Math.max(Math.abs(pl.d.acceleration_y));\nsensor.max.z=Math.max(Math.abs(pl.d.acceleration_z));\nglobal.set(\"sensors\", sensors);\nmsg.payload=did;\nmsg.isNew=isNew;\nreturn msg;\nreturn {payload: did, isNew:isNew, deviceId:did, deviceType:msg.deviceType};",
	"outputs": "1",
	"noerr": 0,
	"x": 256.89573669433594,
	"y": 223.88888549804688,
	"wires": [["85e77a7a.109038"]]
},
{
	"id": "85e77a7a.109038",
	"type": "link out",
	"z": "c2d01449.3c1b98",
	"name": "Sensor Update Out",
	"links": ["dbc6a2ec.fbd6",
	"17d5786b.528f78",
	"8ed93e5d.8e848"],
	"x": 977.8957366943359,
	"y": 228.88888549804688,
	"wires": []
},
{
	"id": "5bf12e44.61038",
	"type": "comment",
	"z": "c2d01449.3c1b98",
	"name": "Signals new device",
	"info": "",
	"x": 987.7221832275391,
	"y": 272.8888854980469,
	"wires": []
},
{
	"id": "20e05c3c.c88124",
	"type": "delay",
	"z": "c2d01449.3c1b98",
	"name": "Avoid Audio Spam",
	"pauseType": "rate",
	"timeout": "5",
	"timeoutUnits": "seconds",
	"rate": "1",
	"nbRateUnits": "15",
	"rateUnits": "second",
	"randomFirst": "1",
	"randomLast": "5",
	"randomUnits": "seconds",
	"drop": true,
	"x": 424.82989501953125,
	"y": 327.295166015625,
	"wires": [["5052257f.f04cdc"]]
},
{
	"id": "97520757.382a98",
	"type": "debug",
	"z": "c2d01449.3c1b98",
	"name": "",
	"active": false,
	"console": "false",
	"complete": "false",
	"x": 789.8368377685547,
	"y": 166.33334350585938,
	"wires": []
},
{
	"id": "6f2a9b00.912a74",
	"type": "function",
	"z": "c2d01449.3c1b98",
	"name": "Normalize Values",
	"func": "if (msg.deviceType===\"iPhone\") {\n    msg.payload.d.acceleration_x *= 10;\n    msg.payload.d.acceleration_y *= 10;\n    msg.payload.d.acceleration_z *= 10;\n}\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 224.82640075683594,
	"y": 82.22222900390625,
	"wires": [["80cb48fa.1a4c88"]]
},
{
	"id": "5052257f.f04cdc",
	"type": "watson-text-to-speech",
	"z": "c2d01449.3c1b98",
	"name": "TTS",
	"lang": "en-US",
	"langhidden": "en-US",
	"voice": "en-US_LisaVoice",
	"voicehidden": "en-US_LisaVoice",
	"format": "audio/wav",
	"password": "hba2014mel",
	"x": 697.3855247497559,
	"y": 325.0694580078125,
	"wires": [["7a5d2fe9.33d4a"]]
},
{
	"id": "7a5d2fe9.33d4a",
	"type": "function",
	"z": "c2d01449.3c1b98",
	"name": "",
	"func": "msg.payload=msg.speech;\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 840.3923682518948,
	"y": 329.4375,
	"wires": [["1e8f6a45.5bbab6"]]
},
{
	"id": "64d171b4.36002",
	"type": "ui_group",
	"z": "",
	"name": "Android",
	"tab": "42e26214.ef271c",
	"order": 3,
	"disp": true,
	"width": "6"
},
{
	"id": "63f515be.f9d99c",
	"type": "ui_group",
	"z": "",
	"name": "IOS Phones",
	"tab": "42e26214.ef271c",
	"order": 2,
	"disp": true,
	"width": "6"
},
{
	"id": "3ebef29b.78723e",
	"type": "ui_group",
	"z": "",
	"name": "Controls",
	"tab": "42e26214.ef271c",
	"order": 5,
	"disp": true,
	"width": "6"
},
{
	"id": "42e26214.ef271c",
	"type": "ui_tab",
	"z": "",
	"name": "Home",
	"icon": "dashboard"
}]