public/06 Dashboad - Device List.js
[{
	"id": "55f5c3c7.1e1fdc",
	"type": "switch",
	"z": "43fae61f.88d648",
	"name": "Check new Device",
	"property": "isNew",
	"propertyType": "msg",
	"rules": [{
		"t": "true"
	}],
	"checkall": "false",
	"outputs": 1,
	"x": 144,
	"y": 162,
	"wires": [["46952b13.5792b4",
	"cbe1077d.f65518"]]
},
{
	"id": "17d5786b.528f78",
	"type": "link in",
	"z": "43fae61f.88d648",
	"name": "Sensor Update",
	"links": ["e4e5352e.ed36f8"],
	"x": 20,
	"y": 163,
	"wires": [["55f5c3c7.1e1fdc"]]
},
{
	"id": "46952b13.5792b4",
	"type": "function",
	"z": "43fae61f.88d648",
	"name": "Get Sensor Names",
	"func": "var sensors=global.get('sensors');\nvar m;\nmsg.options=[];\nfor (m in sensors) msg.options.push(m);\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 364,
	"y": 161,
	"wires": [["9072af3d.ca038",
	"16fc7683.1bec29"]]
},
{
	"id": "3b35860b.28977a",
	"type": "ui_toast",
	"z": "43fae61f.88d648",
	"position": "top right",
	"displayTime": "3",
	"outputs": 0,
	"ok": "OK",
	"cancel": "",
	"topic": "",
	"name": "New Device Detected",
	"x": 888.9999847412109,
	"y": 253,
	"wires": []
},
{
	"id": "9072af3d.ca038",
	"type": "ui_dropdown",
	"z": "43fae61f.88d648",
	"name": "",
	"label": "Select Device",
	"group": "f4ec4acb.809608",
	"order": 1,
	"width": 0,
	"height": 0,
	"passthru": true,
	"options": [{
		"label": "iPhone",
		"value": "iPhone",
		"type": "str"
	}],
	"payload": "",
	"topic": "",
	"x": 354,
	"y": 30,
	"wires": [["5d069861.b9e508"]]
},
{
	"id": "16fc7683.1bec29",
	"type": "debug",
	"z": "43fae61f.88d648",
	"name": "",
	"active": false,
	"console": "false",
	"complete": "true",
	"x": 875,
	"y": 161,
	"wires": []
},
{
	"id": "5d069861.b9e508",
	"type": "function",
	"z": "43fae61f.88d648",
	"name": "Store phone selection",
	"func": "var sensors=global.get(\"sensors\");\nmsg.deviceId = msg.payload;\nmsg.payload=msg.deviceType=sensors[msg.deviceId].type;\nglobal.set(\"device\", {deviceId:msg.deviceId, deviceType:msg.deviceType})\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 582,
	"y": 31,
	"wires": [["16fc7683.1bec29",
	"1a6908ad.6dd2c7"]]
},
{
	"id": "1a6908ad.6dd2c7",
	"type": "ui_text",
	"z": "43fae61f.88d648",
	"group": "f4ec4acb.809608",
	"order": 2,
	"width": 0,
	"height": 0,
	"name": "Display selected Device Type",
	"label": "Device Type",
	"format": "{{msg.payload}}",
	"layout": "col-center",
	"x": 876.9999847412109,
	"y": 30,
	"wires": []
},
{
	"id": "cbe1077d.f65518",
	"type": "function",
	"z": "43fae61f.88d648",
	"name": "Add message",
	"func": "msg.payload=\"A new device was detected:\"+msg.payload+\".\";\nmsg.topic=\"Device Data Received\";\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 373.82640075683594,
	"y": 252.65972900390625,
	"wires": [["3b35860b.28977a",
	"941cfa2d.d089c8"]]
},
{
	"id": "941cfa2d.d089c8",
	"type": "link out",
	"z": "43fae61f.88d648",
	"name": "",
	"links": ["652259d.05727a8"],
	"x": 796.8298797607422,
	"y": 297.0833435058594,
	"wires": []
},
{
	"id": "f4ec4acb.809608",
	"type": "ui_group",
	"z": "",
	"name": "Device Selection",
	"tab": "42e26214.ef271c",
	"order": 1,
	"disp": true,
	"width": "6"
},
{
	"id": "42e26214.ef271c",
	"type": "ui_tab",
	"z": "",
	"name": "Home",
	"icon": "dashboard"
}]