public/07 Traditional Dashboard.js
[{
	"id": "9392c242.1e342",
	"type": "ibmiot out",
	"z": "fe97e4e1.d97c58",
	"authentication": "boundService",
	"apiKey": "",
	"outputType": "cmd",
	"deviceId": "iPhone",
	"deviceType": "iPhone",
	"eventCommandType": "text",
	"format": "json",
	"data": "{\"d\":{\"value\":\"text\"}}",
	"qos": "",
	"name": "IoT App Out",
	"service": "registered",
	"x": 1087.0001678466797,
	"y": 216,
	"wires": []
},
{
	"id": "4105b276.c94d9c",
	"type": "function",
	"z": "fe97e4e1.d97c58",
	"name": "Handle Text",
	"func": "var d=global.get('device');\nif (d !== undefined || d !== null) {\n    msg.deviceId=d.deviceId;\n    msg.deviceType=d.deviceType;\n}\nmsg.eventOrCommandType = \"text\";\nvar name=msg.tweet.user.name;\n\nvar loc=msg.tweet.user.location;\nvar tweet=msg.payload;\nvar txt = \"(\"+msg.sentiment.score+\") \"+name+\" tweets \"+ \n            ((loc!==null)?\"from \"+loc:\"\") + \n            \": \" +tweet;\nmsg.payload=JSON.stringify({\"d\":{\"text\":txt}});\nreturn msg\n",
	"outputs": 1,
	"noerr": 0,
	"x": 817.9999847412109,
	"y": 113,
	"wires": [["260a298c.2f1546",
	"9392c242.1e342",
	"9a107d18.f2bfb",
	"c3d46ce6.b8ee"]]
},
{
	"id": "260a298c.2f1546",
	"type": "debug",
	"z": "fe97e4e1.d97c58",
	"name": "",
	"active": true,
	"console": "false",
	"complete": "true",
	"x": 1055.0000457763672,
	"y": 78,
	"wires": []
},
{
	"id": "9a107d18.f2bfb",
	"type": "websocket out",
	"z": "fe97e4e1.d97c58",
	"name": "/tmelabs/tweets",
	"server": "f4b014d5.a0a668",
	"client": "",
	"x": 1088.0001068115234,
	"y": 136,
	"wires": []
},
{
	"id": "c3d46ce6.b8ee",
	"type": "link out",
	"z": "fe97e4e1.d97c58",
	"name": "Twitter Msg to Phone",
	"links": ["652259d.05727a8",
	"cb20c901.66e038"],
	"x": 1025.8300018310547,
	"y": 173.53472900390625,
	"wires": []
},
{
	"id": "5b99b19d.07557",
	"type": "sentiment",
	"z": "fe97e4e1.d97c58",
	"name": "",
	"x": 576.8957977294922,
	"y": 108.88888549804688,
	"wires": [["4105b276.c94d9c"]]
},
{
	"id": "8e412bbe.1a3628",
	"type": "twitter in",
	"z": "fe97e4e1.d97c58",
	"twitter": "",
	"tags": "",
	"user": "false",
	"name": "Twitter in",
	"topic": "tweets",
	"inputs": 1,
	"x": 330.99998474121094,
	"y": 112,
	"wires": [["5b99b19d.07557"]]
},
{
	"id": "31e393ea.56817c",
	"type": "inject",
	"z": "fe97e4e1.d97c58",
	"name": "Init Twitter",
	"topic": "",
	"payload": "#NodeRed",
	"payloadType": "str",
	"repeat": "",
	"crontab": "",
	"once": true,
	"x": 143,
	"y": 60,
	"wires": [["8e412bbe.1a3628"]]
},
{
	"id": "1ed353a7.5b228c",
	"type": "link in",
	"z": "fe97e4e1.d97c58",
	"name": "Set Twitter Term",
	"links": ["321fc664.24d53a",
	"11cbfc55.bc93a4",
	"6500f6fe.f80048"],
	"x": 84.826416015625,
	"y": 139.59722900390625,
	"wires": [["8e412bbe.1a3628"]]
},
{
	"id": "f4b014d5.a0a668",
	"type": "websocket-listener",
	"z": "",
	"path": "/tmelab/tweets",
	"wholemsg": "false"
}][{
	"id": "9392c242.1e342",
	"type": "ibmiot out",
	"z": "fe97e4e1.d97c58",
	"authentication": "boundService",
	"apiKey": "",
	"outputType": "cmd",
	"deviceId": "iPhone",
	"deviceType": "iPhone",
	"eventCommandType": "text",
	"format": "json",
	"data": "{\"d\":{\"value\":\"text\"}}",
	"qos": "",
	"name": "IoT App Out",
	"service": "registered",
	"x": 1087.0001678466797,
	"y": 216,
	"wires": []
},
{
	"id": "4105b276.c94d9c",
	"type": "function",
	"z": "fe97e4e1.d97c58",
	"name": "Handle Text",
	"func": "var d=global.get('device');\nif (d !== undefined || d !== null) {\n    msg.deviceId=d.deviceId;\n    msg.deviceType=d.deviceType;\n}\nmsg.eventOrCommandType = \"text\";\nvar name=msg.tweet.user.name;\n\nvar loc=msg.tweet.user.location;\nvar tweet=msg.payload;\nvar txt = \"(\"+msg.sentiment.score+\") \"+name+\" tweets \"+ \n            ((loc!==null)?\"from \"+loc:\"\") + \n            \": \" +tweet;\nmsg.payload=JSON.stringify({\"d\":{\"text\":txt}});\nreturn msg\n",
	"outputs": 1,
	"noerr": 0,
	"x": 817.9999847412109,
	"y": 113,
	"wires": [["260a298c.2f1546",
	"9392c242.1e342",
	"9a107d18.f2bfb",
	"c3d46ce6.b8ee"]]
},
{
	"id": "260a298c.2f1546",
	"type": "debug",
	"z": "fe97e4e1.d97c58",
	"name": "",
	"active": true,
	"console": "false",
	"complete": "true",
	"x": 1055.0000457763672,
	"y": 78,
	"wires": []
},
{
	"id": "9a107d18.f2bfb",
	"type": "websocket out",
	"z": "fe97e4e1.d97c58",
	"name": "/tmelabs/tweets",
	"server": "f4b014d5.a0a668",
	"client": "",
	"x": 1088.0001068115234,
	"y": 136,
	"wires": []
},
{
	"id": "c3d46ce6.b8ee",
	"type": "link out",
	"z": "fe97e4e1.d97c58",
	"name": "Twitter Msg to Phone",
	"links": ["652259d.05727a8",
	"cb20c901.66e038"],
	"x": 1025.8300018310547,
	"y": 173.53472900390625,
	"wires": []
},
{
	"id": "5b99b19d.07557",
	"type": "sentiment",
	"z": "fe97e4e1.d97c58",
	"name": "",
	"x": 576.8957977294922,
	"y": 108.88888549804688,
	"wires": [["4105b276.c94d9c"]]
},
{
	"id": "8e412bbe.1a3628",
	"type": "twitter in",
	"z": "fe97e4e1.d97c58",
	"twitter": "",
	"tags": "",
	"user": "false",
	"name": "Twitter in",
	"topic": "tweets",
	"inputs": 1,
	"x": 330.99998474121094,
	"y": 112,
	"wires": [["5b99b19d.07557"]]
},
{
	"id": "31e393ea.56817c",
	"type": "inject",
	"z": "fe97e4e1.d97c58",
	"name": "Init Twitter",
	"topic": "",
	"payload": "#NodeRed",
	"payloadType": "str",
	"repeat": "",
	"crontab": "",
	"once": true,
	"x": 143,
	"y": 60,
	"wires": [["8e412bbe.1a3628"]]
},
{
	"id": "1ed353a7.5b228c",
	"type": "link in",
	"z": "fe97e4e1.d97c58",
	"name": "Set Twitter Term",
	"links": ["321fc664.24d53a",
	"11cbfc55.bc93a4",
	"6500f6fe.f80048"],
	"x": 84.826416015625,
	"y": 139.59722900390625,
	"wires": [["8e412bbe.1a3628"]]
},
{
	"id": "f4b014d5.a0a668",
	"type": "websocket-listener",
	"z": "",
	"path": "/tmelab/tweets",
	"wholemsg": "false"
}]