public/07 Traditional Dashboard.txt
[{
	"id": "9070b10d.df33f",
	"type": "http response",
	"z": "c4de56f.dd3eea8",
	"name": "Deliver Dashboard",
	"x": 795,
	"y": 100,
	"wires": []
},
{
	"id": "99c84baa.94d0d8",
	"type": "template",
	"z": "c4de56f.dd3eea8",
	"name": "Dashboard Page",
	"field": "payload",
	"fieldType": "msg",
	"format": "handlebars",
	"syntax": "mustache",
	"template": "sse<html>\n  <head>\n     <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\" />  \n    <style>\n    .wide {\n        min-width:1000px;\n    }\n    .msg {\n        min-height: 100px;\n        line-height: 100px;\n        vertical-align: middle;\n        text-align: center;\n    }\n    .log {\n        width: 100%;\n        overflow: auto;\n        overflow-x: scroll;\n        overflow-y: scroll;\n        max-height: 500px;\n        display:none;\n    }\n    </style>\n        <link rel=\"stylesheet\" href=\"http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css\" />\n        <script src=\"http://code.jquery.com/jquery-1.11.1.min.js\"></script>\n        <script src=\"http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js\"></script>\n    <script type=\"text/javascript\" src=\"https://www.gstatic.com/charts/loader.js\"></script>\n\n    <script type=\"text/javascript\">\n    function back(id) {\n        window.setTimeout(function() {\n                $(\":mobile-pagecontainer\" ).pagecontainer( \"change\", \"#\"+id, {transition:\"slide\", changeHash:false});\n            },\n            5000);\n    }\n    function msg(header, main) {\n        var id=$( \"body\" ).pagecontainer( \"getActivePage\" ).prop('id');\n        $('#message-header').html(header);\n        $('#message-main').html(main);\n        $(\":mobile-pagecontainer\" ).pagecontainer( \"change\", \"#message\", {transition:\"fade\", changeHash:false});\n        back(id);\n    }\n    function setTermOK(data) {\n        msg(\"Set Twitter search Term\", \"Successfully set search term to \"+$('#search-term').val());\n    }\n    function setTerm() {\n        $.ajax({\n            url:\"/tmelab/twitter\",\n            method:\"POST\",\n            data: { searchTerm: $('#search-term').val()},\n            success: setTermOK,\n            error: ajaxErr\n        });\n    }\n    function ajaxErr(err) {\n        msg(\"Network Error\", JSON.stringify(err, null, 4));\n    }\n    var ws;\n    function wsopen() {\n        $('#log').append(\"Web Socket openened\\n\");\n    }\n    function wsclose() {\n        $('#log').append(\"Web Socket closed\\n\");\n        window.setTimeout(wsinit, 2000);\n    }\n    function wserror(err) {\n        $('#log').append(\"Web Socket in error \"+JSON.stringify(err, null, 4)+\"\\n\");\n        window.setTimeout(wsinit, 2000);\n    }\n    function wsmessage(msg) {\n        $('#log').append(\"<hr style='text-align:center; width:50%' />\"+JSON.parse(msg.data).d.text+\"\\n\");\n    }\n    function wsinit() {\n        ws = new WebSocket('ws://allsortsoftest.mybluemix.net/tmelab/tweets');\n        ws.onopen=wsopen;\n        ws.onclose=wsclose;\n        ws.onerror=wserror;\n        ws.onmessage=wsmessage;\n\n    }\n    function demoSelectedOK(e) {\n    }\n    function demoSelected(e) {\n        var demo=$(this).prop('id').replace(/demo-select-/, \"\");\n        val=$(this).val();\n        var pl;\n        var func=null;\n        if (demo === \"send-text\") {\n            func=\"text\";\n            $(this).val(\"\");\n            pl={\"text\":val};\n        } else if (demo === \"send-alert\") {\n            func=\"alert\";    \n            $(this).val(\"\");\n            pl={\"text\":val};\n        } else if (demo === \"switch-light\") {\n            func=\"light\";\n            if (val === \"on\") val===\"off\";\n            if (val === \"off\") val===\"on\";\n            pl={\"light\":val};\n        } else {\n            msg(\"Oopps\", \"Sorry, this demo \"+ demo + \" is not configured\");\n        }\n        if (func !== null) {\n            $.ajax({\n                url:\"/tmelab/set\",\n                method:\"POST\",\n                data:{f:func, val:pl},\n                success:demoSelectedOK,\n                error:ajaxErr\n            });\n        }\n    }\n    function demoSelected1() {\n        var demo=$(this).prop('id').replace(/demo-select-/, \"\");\n        if (demo === \"push-tweets\") {\n            $(\":mobile-pagecontainer\" ).pagecontainer( \"change\", \"#entry-page\", {transition:\"slide\", changeHash:false});\n        }\n        $.ajax({\n            url:\"/tmelab/selectdemo\",\n            method:\"POST\",\n            data: { selecteddemo:demo},\n            success:demoSelectedOK,\n            error:ajaxErr\n        });\n        \n    }\n    var charts={}, sensors={};\n    function getDataOK(data) {\n        var i, l, m, s, sensor;\n        \n        for (m in data) {\n            if (!charts[m]) {\n                var id=\"chart-\"+m;\n                $('#charts').append(\"<div style='float:left; width:45%;' id='\"+id+\"'</div>\");\n                charts[m]=new google.visualization.LineChart(document.getElementById(id));\n                console.log(\"new chart for \"+id);\n            }\n            sensors[m]=data[m];\n            // draw lines\n            var table  = [['Num', 'X', \"Y\", \"Z\", \"Roll\", \"Yaw\", \"Pitch\"]];\n            if (sensors[m] !== undefined && sensors[m] !== null) {\n                var d=sensors[m].data;\n                l=d.length;\n                for (i=0; i<l; i++) {\n                    s=d[i].d;\n                    table.push([i+1, s.acceleration_x, s.acceleration_y, s.acceleration_z, s.roll, s.yaw, s.pitch]);\n                }\n                charts[m].draw(google.visualization.arrayToDataTable(table), {title:m, curveType: 'function',legend: { position: 'bottom'}});\n            }\n        }\n        window.setTimeout(getData, 2000);\n    }\n    function getData() {\n        $.ajax({\n            url:\"/tmelab/sensor\",\n            success:getDataOK,\n            error:ajaxErr\n        });\n    }\n    function prepareChart() {\n        $('#charts').hide();\n        getData();       \n    }\n    function setColor() {\n        var r=Math.abs($('#slider-r').val());\n        var g=Math.abs($('#slider-g').val());\n        var b=Math.abs($('#slider-b').val());\n        $('#resulting-color').css(\"background-color\", \"rgb(\"+r+\",\"+g+\",\"+b+\")\");\n        $.ajax({\n            url:\"/tmelab/set\",\n            method:\"POST\",\n            data:{f:\"color\", val:{alpha:1, r:r, g:g, b:b}}\n        });\n    }\n    function init() {\n        $('#set-term').on('click', setTerm);\n        $('[id^=\"demo-select-\"]').on('change', demoSelected);\n        $('[id^=\"slider-\"]').on('change', setColor);\n        $('#toggle-charts').on('click', function(){\n            $('#helptext').toggle();\n            $('#charts').toggle();\n        });\n        google.charts.load(\"current\", {packages:[\"corechart\"]});\n        google.charts.setOnLoadCallback(prepareChart);\n        wsinit();\n        setColor();\n    }\n      $(document).ready(init);\n    </script>\n  </head>\n  <body>\n      <!--\n      <div id=\"demo-select\" data-role=\"page\" data-dialog=\"true\">\n            <div data-role=\"header\">\n              <h3>Select Demo to Run</h3>\n            </div>\n            <div data-role=\"main\">\n                <fieldset data-role=\"controlgroup\" data-mini=\"true\">\n                    <legend>Select one of the demos below</legend>\n\n                    <label for=\"demo-select-send-twitter\">Use phone to tweet</label>\n                    <input type=\"radio\" id=\"demo-select-send-twitter\" value=\"1\" name=\"1\">\n                    \n                    <label for=\"demo-select-push-tweets\">Push selected tweets to Phone</label>\n                    <input type=\"radio\" id=\"demo-select-push-tweets\" value=\"1\" name=\"1\">\n                    \n                    <label for=\"demo-select-switch-light\">Use phone to switch light and send alerts</label>\n                    <input type=\"radio\" id=\"demo-select-switch-light\" value=\"1\" name=\"1\">\n\n                    <label for=\"demo-select-background-color\">Move phone to change background color</label>\n                    <input type=\"radio\" id=\"demo-select-background-color\" value=\"1\" name=\"1\">\n\n                </fieldset>\n            </div>\n      </div>\n      -->\n        <div id=\"entry-page\" data-role=\"page\" data-dialog=\"true\" class=\"wide\">\n            <div data-role=\"header\">\n              <h3>Enter a search Term for Twitter</h3>\n            </div>\n            <div data-role=\"main\">\n                <div id=\"helptext\">\n                    <!--\n                    Can be used to search either:\n                    <ul>\n                        <li>the public stream for tweets containing the configured search term</li>\n                        <li>all the tweets from accounts that the authenticated user follows</li>\n                        <li>all tweets by specified users</li>\n                        <li>direct messages received by the authenticated user</li>\n                        <li>twitter events for the authenticated user</li>\n                        <li>Use space for and and comma , for or when searching for multiple terms.</li>\n                    </ul>\n                    -->\n                    <label for=\"search-term\">Term</label>\n                    <input type=\"text\" id=\"search-term\"> </input>\n                    <label for=\"set-term\">Press button below to set twitter search</label>\n                    <input type=\"submit\" id=\"set-term\" value=\"Go\"> </input>\n                    \n                    <hr data-mini=\"true\">\n                    <label for=\"demo-select-send-text\">Send a text to Phone</label>\n                    <input type=\"text\" id=\"demo-select-send-text\" data-mini=\"true\">\n                    \n                    <label for=\"demo-select-send-alert\">Send an alert to Phone</label>\n                    <input type=\"text\" id=\"demo-select-send-alert\" data-mini=\"true\">\n\n                    <label for=\"demo-select-switch-light\">Switch Light</label>\n                    <input type=\"checkbox\" id=\"demo-select-switch-light\" data-mini=\"true\" data-role=\"flipswitch\">\n                    <input type=\"text\" id=\"demo-select-send-alert\" data-mini=\"true\">\n                    \n                    <label >Change color</label>\n                    <input type=\"range\" name=\"slider-r\" id=\"slider-r\" value=\"128\" min=\"0\" max=\"255\" step=\"2\">\n                    <input type=\"range\" name=\"slider-g\" id=\"slider-g\" value=\"128\" min=\"0\" max=\"255\" step=\"2\">\n                    <input type=\"range\" name=\"slider-b\" id=\"slider-b\" value=\"128\" min=\"0\" max=\"255\" step=\"2\">\n                    <div id=\"resulting-color\" style=\"min-width:100%;\">&nbsp;</div>\n\n\n                </div>\n                <input type=\"submit\" id=\"toggle-charts\" value=\"Toggle Charts\"> </input>\n            </div>\n            <div id=\"charts\" style=\"display:none;\"></div>\n            <hr style=\"clear:both\" />\n            <div data-role=\"footer\">\n                <span style=\"font-size:small\"> © 2017 IBM Telecommunication and Entertainment Solution Labs</span>\n            </div>\n        </div>\n        <div id=\"message\" data-role=\"page\" data-dialog=\"true\">\n              <div data-role=\"header\" data-rel=\"back\">\n                  <h3 id=\"message-header\"></h3>\n              </div>\n              <div id=\"message-main\" class=\"msg\">\n              </div>\n              <div data-role=\"footer\">\n                  <span style=\"font-size:small\"> © 2016 IBM Telecommunication and Entertainment Solution Labs</span>\n              </div>\n        </div>\n        <div class=\"log\">\n            <pre id=\"log\"></pre>\n        </div>\n</body>\n</html>",
	"x": 455,
	"y": 98,
	"wires": [["9070b10d.df33f"]]
},
{
	"id": "710d6cd6.88c0a4",
	"type": "http in",
	"z": "c4de56f.dd3eea8",
	"name": "[GET] /tmelab",
	"url": "/tmelab",
	"method": "get",
	"swaggerDoc": "",
	"x": 75,
	"y": 100,
	"wires": [["99c84baa.94d0d8"]]
},
{
	"id": "c49efe5e.25a4c",
	"type": "http in",
	"z": "c4de56f.dd3eea8",
	"name": "[POST] /tmelab/selectdemo",
	"url": "/tmelab/selectdemo",
	"method": "post",
	"swaggerDoc": "",
	"x": 133,
	"y": 168,
	"wires": [["c4c0036.8a7ab"]]
},
{
	"id": "38afc93e.170886",
	"type": "http response",
	"z": "c4de56f.dd3eea8",
	"name": "",
	"x": 761,
	"y": 170,
	"wires": []
},
{
	"id": "c4c0036.8a7ab",
	"type": "function",
	"z": "c4de56f.dd3eea8",
	"name": "Store Demo",
	"func": "global.set('selecteddemo', msg.payload.selecteddemo);\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 454,
	"y": 166,
	"wires": [["38afc93e.170886"]]
},
{
	"id": "d772d508.3697f8",
	"type": "http in",
	"z": "c4de56f.dd3eea8",
	"name": "[GET] /tmelab/sensor",
	"url": "/tmelab/sensor",
	"method": "get",
	"swaggerDoc": "",
	"x": 115,
	"y": 237,
	"wires": [["22d519ee.b84516"]]
},
{
	"id": "22d519ee.b84516",
	"type": "function",
	"z": "c4de56f.dd3eea8",
	"name": "",
	"func": "msg.payload=global.get(\"sensors\");\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 433,
	"y": 237,
	"wires": [["38afc93e.170886"]]
},
{
	"id": "a35ab270.234c2",
	"type": "http in",
	"z": "c4de56f.dd3eea8",
	"name": "[POST] /tmelab/twitter",
	"url": "/tmelab/twitter",
	"method": "post",
	"swaggerDoc": "",
	"x": 120.89582824707031,
	"y": 359.8888854980469,
	"wires": [["e6dcacf1.fb65b",
	"2b34e5e.85de81a"]]
},
{
	"id": "2b34e5e.85de81a",
	"type": "function",
	"z": "c4de56f.dd3eea8",
	"name": "Prepare search Term",
	"func": "msg.payload=msg.payload.searchTerm;\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 505.89581298828125,
	"y": 318.8888854980469,
	"wires": [["6500f6fe.f80048"]]
},
{
	"id": "e6dcacf1.fb65b",
	"type": "http response",
	"z": "c4de56f.dd3eea8",
	"name": "Respond to POST",
	"x": 1046.8957977294922,
	"y": 376.8888854980469,
	"wires": []
},
{
	"id": "6500f6fe.f80048",
	"type": "link out",
	"z": "c4de56f.dd3eea8",
	"name": "Set Twitter Term",
	"links": ["1ed353a7.5b228c"],
	"x": 731.8333892822266,
	"y": 309.54168701171875,
	"wires": []
},
{
	"id": "76747dfc.a057e4",
	"type": "http in",
	"z": "c4de56f.dd3eea8",
	"name": "[POST] /tmelab/set",
	"url": "/tmelab/set",
	"method": "post",
	"swaggerDoc": "",
	"x": 108.83334350585938,
	"y": 423.0069580078125,
	"wires": [["efa234cf.8fc0e8",
	"66c697a4.0da538",
	"e661742.140a188"]]
},
{
	"id": "efa234cf.8fc0e8",
	"type": "function",
	"z": "c4de56f.dd3eea8",
	"name": "Format Message",
	"func": "msg.eventOrCommandType = msg.payload.f;\nmsg.payload = JSON.stringify({\"d\":msg.payload.val});\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 423.89576721191406,
	"y": 426.8888854980469,
	"wires": [["69cc8c5a.399744"]]
},
{
	"id": "69cc8c5a.399744",
	"type": "function",
	"z": "c4de56f.dd3eea8",
	"name": "Set deviceType/deviceID",
	"func": "var dev=global.get('device');\nmsg.deviceId=dev.deviceId;\nmsg.deviceType=dev.deviceType;\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 752.8957977294922,
	"y": 438.8888854980469,
	"wires": [["fcac748c.aa7138",
	"66c697a4.0da538",
	"e661742.140a188",
	"e6dcacf1.fb65b"]]
},
{
	"id": "fcac748c.aa7138",
	"type": "ibmiot out",
	"z": "c4de56f.dd3eea8",
	"authentication": "boundService",
	"apiKey": "",
	"outputType": "cmd",
	"deviceId": "Android",
	"deviceType": "s5mini",
	"eventCommandType": "color",
	"format": "json",
	"data": "{\"d\":{\"r\":128, \"g\":128, \"b\":128, \"a\":255}}",
	"qos": "",
	"name": "IoT App Out",
	"service": "registered",
	"x": 979.8958435058594,
	"y": 440.8888854980469,
	"wires": []
},
{
	"id": "66c697a4.0da538",
	"type": "debug",
	"z": "c4de56f.dd3eea8",
	"name": "",
	"active": true,
	"console": "false",
	"complete": "deviceId",
	"x": 984.8368682861328,
	"y": 507.3194885253906,
	"wires": []
},
{
	"id": "e661742.140a188",
	"type": "debug",
	"z": "c4de56f.dd3eea8",
	"name": "",
	"active": true,
	"console": "false",
	"complete": "false",
	"x": 984.8368682861328,
	"y": 568.3263854980469,
	"wires": []
}]