public/2017-02-03 Flows.json
[{
	"id": "e5cf5aad.8ae078",
	"type": "ui_form",
	"z": "12144a0e.35fcb6",
	"name": "Create TT Form",
	"label": "Generate Trouble Ticket",
	"group": "38c76a8a.f0eea6",
	"order": 1,
	"width": "6",
	"height": "8",
	"options": [{
		"label": "Description",
		"value": "description",
		"type": "text",
		"required": true
	},
	{
		"label": "Severity",
		"value": "severity",
		"type": "text",
		"required": true
	},
	{
		"label": "Type",
		"value": "type",
		"type": "text",
		"required": true
	},
	{
		"label": "Status",
		"value": "status",
		"type": "text",
		"required": true
	}],
	"formValue": {
		"description": "",
		"severity": "",
		"type": "",
		"status": ""
	},
	"payload": "",
	"topic": "",
	"x": 180.01393127441406,
	"y": 97.56248474121094,
	"wires": [["80def029.398b7"]]
},
{
	"id": "45e988a2.37f2b8",
	"type": "api-troubleticket",
	"z": "12144a0e.35fcb6",
	"hostname": "api.eu.apiconnect.ibmcloud.com",
	"baseurl": "/tmforum-apidev/tmfcatalog/DSTroubleTicket/api/troubleTicketManagement/v2",
	"method": "{\"m\":\"post\", \"p\":\"/troubleTicket\"}",
	"name": "Create TT",
	"x": 740.010498046875,
	"y": 99.88888549804688,
	"wires": [["6b7bf40f.aa5aac",
	"fc30aada.527198",
	"bda2c962.979b28",
	"15237748.f37ff9"]]
},
{
	"id": "6b7bf40f.aa5aac",
	"type": "ui_template",
	"z": "12144a0e.35fcb6",
	"group": "c559b09f.81fcb",
	"name": "Out",
	"order": 2,
	"width": "6",
	"height": "8",
	"format": "<div layout=\"row\" layout-align=\"space-between\">\n\n<table>\n    <tr>\n        <td>ID</td>\n        <td>{{msg.payload.id}}</td>\n    </tr>\n    <tr>\n        <td>Status</td>\n        <td>{{msg.payload.status}}</td>\n    </tr>\n    <tr>\n        <td>Creation Date</td>\n        <td>{{msg.payload.creationDate}}</td>\n    </tr>\n    <tr>\n        <td>Status Change  Date</td>\n        <td>{{msg.payload.statusChangeDate}}</td>\n    </tr>\n    <tr>\n        <td>Description</td>\n        <td>{{msg.payload.description}}</td>\n    </tr>\n    <tr>\n        <td>Severity</td>\n        <td>{{msg.payload.severity}}</td>\n    </tr>\n    <tr>\n        <td>Type</td>\n        <td>{{msg.payload.type}}</td>\n    </tr>\n</table>\n</div>\n",
	"storeOutMessages": true,
	"fwdInMessages": true,
	"x": 1119.0106201171875,
	"y": 169.91317749023438,
	"wires": [[]]
},
{
	"id": "fc30aada.527198",
	"type": "debug",
	"z": "12144a0e.35fcb6",
	"name": "",
	"active": false,
	"console": "false",
	"complete": "true",
	"x": 1044.0069274902344,
	"y": 25.381935119628906,
	"wires": []
},
{
	"id": "80def029.398b7",
	"type": "function",
	"z": "12144a0e.35fcb6",
	"name": "Construct TT MSG",
	"func": "var body={\n    severity:msg.payload.severity,\n    type:msg.payload.type,\n    description:msg.payload.description\n}\nmsg.payload.body=body;\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 417.01043701171875,
	"y": 100.15623474121094,
	"wires": [["45e988a2.37f2b8",
	"fc30aada.527198"]]
},
{
	"id": "bda2c962.979b28",
	"type": "ui_text",
	"z": "12144a0e.35fcb6",
	"group": "c559b09f.81fcb",
	"order": 1,
	"width": 0,
	"height": 0,
	"name": "Status",
	"label": "Status",
	"format": "{{msg.status}}",
	"layout": "row-spread",
	"x": 1119.013916015625,
	"y": 95.00346374511719,
	"wires": []
},
{
	"id": "e2817163.ef049",
	"type": "ui_form",
	"z": "12144a0e.35fcb6",
	"name": "",
	"label": "Query TT",
	"group": "b14c9e7b.241a9",
	"order": 1,
	"width": "6",
	"height": "8",
	"options": [{
		"label": "ID",
		"value": "id",
		"type": "text",
		"required": false
	},
	{
		"label": "Fields",
		"value": "fields",
		"type": "text",
		"required": false
	},
	{
		"label": "Filter",
		"value": "filter",
		"type": "text",
		"required": false
	}],
	"formValue": {
		"id": "",
		"fields": "",
		"filter": ""
	},
	"payload": "",
	"topic": "",
	"x": 167.01388549804688,
	"y": 168.01040649414062,
	"wires": [["27c660a.89c9da"]]
},
{
	"id": "27c660a.89c9da",
	"type": "api-troubleticket",
	"z": "12144a0e.35fcb6",
	"hostname": "api.eu.apiconnect.ibmcloud.com",
	"baseurl": "/tmforum-apidev/tmfcatalog/DSTroubleTicket/api/troubleTicketManagement/v2",
	"method": "{\"m\":\"get\", \"p\":\"/troubleTicket\"}",
	"name": "Get TT",
	"x": 404,
	"y": 169.11459350585938,
	"wires": [["92fd864c.bb2f68"]]
},
{
	"id": "6a4b9f63.10dd",
	"type": "debug",
	"z": "12144a0e.35fcb6",
	"name": "",
	"active": false,
	"console": "false",
	"complete": "false",
	"x": 1104.0069274902344,
	"y": 246.26736450195312,
	"wires": []
},
{
	"id": "92fd864c.bb2f68",
	"type": "function",
	"z": "12144a0e.35fcb6",
	"name": "Select first Entry",
	"func": "if (msg.payload[0] !== undefined) msg.payload=msg.payload[0];\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 697.0034637451172,
	"y": 173.48959350585938,
	"wires": [["6b7bf40f.aa5aac",
	"1298c7d2.5f4618",
	"6a4b9f63.10dd"]]
},
{
	"id": "c41e16d4.5a7ad8",
	"type": "ui_button",
	"z": "12144a0e.35fcb6",
	"name": "Create HUB",
	"group": "38c76a8a.f0eea6",
	"order": 0,
	"width": 0,
	"height": 0,
	"label": "Create HUB",
	"color": "",
	"bgcolor": "",
	"icon": "",
	"payload": "{\"callback\": \"https://tme-workshop-2017.mybluemix.net/balllab/hub\"}",
	"payloadType": "json",
	"topic": "",
	"x": 170,
	"y": 420,
	"wires": [["db8a9c70.270fd"]]
},
{
	"id": "366cfa05.c51116",
	"type": "http in",
	"z": "12144a0e.35fcb6",
	"name": "",
	"url": "/belllab/hub",
	"method": "post",
	"swaggerDoc": "",
	"x": 190,
	"y": 500,
	"wires": [["7a1871e8.c1ec3",
	"49da07ea.c20da8",
	"18672706.ac7729"]]
},
{
	"id": "7a1871e8.c1ec3",
	"type": "http response",
	"z": "12144a0e.35fcb6",
	"name": "",
	"x": 1074.007080078125,
	"y": 490.9583435058594,
	"wires": []
},
{
	"id": "db8a9c70.270fd",
	"type": "api-troubleticket",
	"z": "12144a0e.35fcb6",
	"hostname": "api.eu.apiconnect.ibmcloud.com",
	"baseurl": "/tmforum-apidev/tmfcatalog/DSTroubleTicket/api/troubleTicketManagement/v2",
	"method": "{\"m\":\"post\", \"p\":\"/hub\"}",
	"name": "Create Hub",
	"x": 675.9999847412109,
	"y": 426.7673797607422,
	"wires": [[]]
},
{
	"id": "177ba896.211a27",
	"type": "ui_text_input",
	"z": "12144a0e.35fcb6",
	"name": "New Description",
	"label": "New description",
	"group": "b14c9e7b.241a9",
	"order": 2,
	"width": 0,
	"height": 0,
	"passthru": false,
	"mode": "text",
	"delay": "0",
	"topic": "",
	"x": 542.0069007873535,
	"y": 251.47573852539062,
	"wires": [["86f18762.194cc8"]]
},
{
	"id": "1298c7d2.5f4618",
	"type": "function",
	"z": "12144a0e.35fcb6",
	"name": "set enabled",
	"func": "global.set('Ticket',msg.payload);\nmsg.enabled=(msg.payload !== undefined);\nif (msg.enabled) msg.payload=msg.payload.description;\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 302.82989501953125,
	"y": 245.1007080078125,
	"wires": [["177ba896.211a27"]]
},
{
	"id": "29bcf3e3.c0045c",
	"type": "ui_button",
	"z": "12144a0e.35fcb6",
	"name": "Confirm Change",
	"group": "b14c9e7b.241a9",
	"order": 3,
	"width": 0,
	"height": 0,
	"label": "Confirm Change",
	"color": "",
	"bgcolor": "",
	"icon": "",
	"payload": "",
	"payloadType": "str",
	"topic": "",
	"x": 167.8402862548828,
	"y": 350.1632080078125,
	"wires": [["7a3225dd.dabc6c"]]
},
{
	"id": "9d5360f7.5ab66",
	"type": "api-troubleticket",
	"z": "12144a0e.35fcb6",
	"hostname": "api.eu.apiconnect.ibmcloud.com",
	"baseurl": "/tmforum-apidev/tmfcatalog/DSTroubleTicket/api/troubleTicketManagement/v2",
	"method": "{\"m\":\"patch\", \"p\":\"/troubleTicket\"}",
	"name": "Patch",
	"x": 832.8402442932129,
	"y": 352.7222442626953,
	"wires": [["9115ecf.37b311",
	"6b7bf40f.aa5aac"]]
},
{
	"id": "9115ecf.37b311",
	"type": "debug",
	"z": "12144a0e.35fcb6",
	"name": "",
	"active": true,
	"console": "false",
	"complete": "false",
	"x": 1098.8370208740234,
	"y": 434.09722900390625,
	"wires": []
},
{
	"id": "7a3225dd.dabc6c",
	"type": "function",
	"z": "12144a0e.35fcb6",
	"name": "Prepare Msg",
	"func": "var ticket=global.get('Ticket');\nvar description=global.get('Description');\nmsg.payload={\n    body:{description:description},\n    id:ticket.id\n}   \nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 449.8333282470703,
	"y": 355.10418701171875,
	"wires": [["9d5360f7.5ab66"]]
},
{
	"id": "49da07ea.c20da8",
	"type": "debug",
	"z": "12144a0e.35fcb6",
	"name": "",
	"active": true,
	"console": "false",
	"complete": "false",
	"x": 1002.0103759765625,
	"y": 608.9896545410156,
	"wires": []
},
{
	"id": "86f18762.194cc8",
	"type": "function",
	"z": "12144a0e.35fcb6",
	"name": "Store Description",
	"func": "global.set(\"Description\", msg.payload);\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 765.8367614746094,
	"y": 251.77780151367188,
	"wires": [[]]
},
{
	"id": "18672706.ac7729",
	"type": "function",
	"z": "12144a0e.35fcb6",
	"name": "",
	"func": "msg.payload=msg.eventType;\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 817.010412057241,
	"y": 531.4374839876905,
	"wires": [["128a8e23.084742"]]
},
{
	"id": "128a8e23.084742",
	"type": "ui_toast",
	"z": "12144a0e.35fcb6",
	"position": "top right",
	"displayTime": "3",
	"outputs": 0,
	"ok": "OK",
	"cancel": "",
	"topic": "",
	"name": "",
	"x": 1147.7743385044148,
	"y": 533.9895935058594,
	"wires": []
},
{
	"id": "a7c8daf4.316a28",
	"type": "ui_text",
	"z": "12144a0e.35fcb6",
	"group": "25fb049c.000dbc",
	"order": 4,
	"width": 0,
	"height": 0,
	"name": "Billing Amount",
	"label": "Total for Trouble Tickets",
	"format": "{{msg.payload}}",
	"layout": "row-spread",
	"x": 1167.9897918701172,
	"y": 675.8994293212891,
	"wires": []
},
{
	"id": "15237748.f37ff9",
	"type": "link out",
	"z": "12144a0e.35fcb6",
	"name": "Billing",
	"links": ["419b80ad.05e0e"],
	"x": 1007.8402862548828,
	"y": 66.97222137451172,
	"wires": []
},
{
	"id": "419b80ad.05e0e",
	"type": "link in",
	"z": "12144a0e.35fcb6",
	"name": "",
	"links": ["15237748.f37ff9"],
	"x": 35,
	"y": 680,
	"wires": [["5973e7f5.85c098"]]
},
{
	"id": "5973e7f5.85c098",
	"type": "function",
	"z": "12144a0e.35fcb6",
	"name": "Create Billing Record",
	"func": "var abc={\n \n  type: \"usage\",\n  currencyCode: \"EUR\",\n  serviceId: [\n    {\n      id: \"Labs\",\n      type: \"Usage\"\n    }\n  ],\n  taxExcludedAmount:1,\n  productSpecification: [\n    {\n      name: \"TMForum API\",\n      productNumber: \"API.Billing\"\n    }\n  ]\n};\ns=msg.payload.severity;\nabc.taxExcludedAmount=s==\"Low\"?0.001:(s==\"Medium\"?0.002:0.003);\nmsg.payload.body=abc;\ndelete(msg.payload.id);\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 200.05551147460938,
	"y": 680.2916717529297,
	"wires": [["4214da5a.f89824"]]
},
{
	"id": "4214da5a.f89824",
	"type": "api-billingmanagement",
	"z": "12144a0e.35fcb6",
	"hostname": "api.eu.apiconnect.ibmcloud.com",
	"baseurl": "/tmforum-apidev/tmfcatalog/DSBillingManagement/api/billingManagement/v2",
	"method": "{\"m\":\"post\", \"p\":\"/appliedCustomerBillingCharge\"}",
	"name": "Store Usage",
	"x": 395.0694274902344,
	"y": 682.3229827880859,
	"wires": [["32581944.fc3c36"]]
},
{
	"id": "10c276b3.f2b659",
	"type": "api-billingmanagement",
	"z": "12144a0e.35fcb6",
	"hostname": "api.eu.apiconnect.ibmcloud.com",
	"baseurl": "/tmforum-apidev/tmfcatalog/DSBillingManagement/api/billingManagement/v2",
	"method": "{\"m\":\"get\", \"p\":\"/appliedCustomerBillingCharge\"}",
	"name": "Get Records ",
	"x": 780.0555114746094,
	"y": 682.0694427490234,
	"wires": [["2083f405.c66c0c",
	"730994e9.c73e1c"]]
},
{
	"id": "32581944.fc3c36",
	"type": "function",
	"z": "12144a0e.35fcb6",
	"name": "prepare query",
	"func": "msg.payload.fields=\"taxExcludedAmount\";\nmsg.payload.filter=\"serviceId.id=Labs\"\ndelete(msg.payload.id);\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 562.9930725097656,
	"y": 684.1666717529297,
	"wires": [["10c276b3.f2b659"]]
},
{
	"id": "2083f405.c66c0c",
	"type": "function",
	"z": "12144a0e.35fcb6",
	"name": "Sum UP",
	"func": "var s=0;\nvar i, l=msg.payload.length;\nfor (i=0; i<l; i++) {\n    s += (msg.payload[i].taxExcludedAmount);\n};\nmsg.payload=Math.floor(s*1000)/1000;\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 975.9861907958984,
	"y": 681.1770782470703,
	"wires": [["a7c8daf4.316a28",
	"730994e9.c73e1c"]]
},
{
	"id": "730994e9.c73e1c",
	"type": "debug",
	"z": "12144a0e.35fcb6",
	"name": "",
	"active": true,
	"console": "false",
	"complete": "false",
	"x": 1159.8368682861328,
	"y": 728.1007229428235,
	"wires": []
},
{
	"id": "38c76a8a.f0eea6",
	"type": "ui_group",
	"z": "",
	"name": "TT Form",
	"tab": "c18ce978.08ddf8",
	"order": 1,
	"disp": true,
	"width": "6"
},
{
	"id": "c559b09f.81fcb",
	"type": "ui_group",
	"z": "",
	"name": "Ticket",
	"tab": "c18ce978.08ddf8",
	"order": 2,
	"disp": true,
	"width": "6"
},
{
	"id": "b14c9e7b.241a9",
	"type": "ui_group",
	"z": "",
	"name": "Query TT",
	"tab": "c18ce978.08ddf8",
	"order": 3,
	"disp": true,
	"width": "6"
},
{
	"id": "25fb049c.000dbc",
	"type": "ui_group",
	"z": "",
	"name": "Billing",
	"tab": "c18ce978.08ddf8",
	"order": 4,
	"disp": true,
	"width": "6"
},
{
	"id": "c18ce978.08ddf8",
	"type": "ui_tab",
	"z": "",
	"name": "TMF API Demo",
	"icon": "dashboard",
	"order": 2
}]